.fontSize {
    font-size: xxx-large;
}

.registerLabelMargins{
    margin-left: 35px;
    margin-top: 10px;
}

.btnMargins {
    margin-top: 50px;
    margin-bottom: 20px;
}

.registerLabelMargins{
    margin-bottom: 5px;
}

.primaryColorBtn {
    background-color: #c41061;
    color: white;
}

.primaryLightColorBtn {
    background-color: #fc548e;
    color: white;
}

.primaryDarkColorBtn {
    background-color: #8e0038;
    color: white;
}

.secondaryColorBtn {
    background-color: #757575;
    color: white;
}

.secondaryLightColorBtn {
    background-color: #a4a4a4;
    color: white;
}

.secondaryDarkColorBtn {
    background-color: #494949;
    color: white;
}


.textFieldMargins{
    margin-top: 40px;
}

.inputHeight {
    height: 180px;
}
