<ActionBar class="actionBar">
    <StackLayout orientation="horizontal" horizontalAlignment="left" class="action-bar-custom">

        <GridLayout rows="auto" columns="*">
            <Label row="0" horizontalAlignment="left" text="Mis listas" class="left actionBar" fontSize="25"></Label>
 <!--            <MDButton row="0" rippleColor=""   horizontalAlignment="right" text="&#xe145;" class="m-icon left  addBtn" fontSize="20"></MDButton> -->
            <MDButton row="0" rippleColor=""   horizontalAlignment="right" text="&#xe9ba;" class="m-icon right logOutBtn" fontSize="20"></MDButton>
        </GridLayout>



    </StackLayout>
</ActionBar>
<MDBottomNavigation selectedIndex="1">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <MDTabStrip class="bottomNavigation">
        <MDTabStripItem (tap)="goHome()">
            <Label text="Inicio"></Label>
            <Image src="font://&#xe88a;" class="m-icon"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special">
            <Label text="Listas"></Label>
            <Image src="font://&#xe896;" class="m-icon"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special" (tap)="getProfile();">
            <Label text="Perfil"></Label>
            <Image src="font://&#xe853;" class="m-icon"></Image>
        </MDTabStripItem>
    </MDTabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <MDTabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>

        </GridLayout>

    </MDTabContentItem>
    <MDTabContentItem>


        <! --  Want to put my list here! -->>
        <GridLayout>
        <ListView row="0" [items]="items" >

            <ListView.itemTemplate *ngFor="let item of items">
                <StackLayout marginTop="2" height="auto">
                    <GridLayout rows="" columns="*"
                                class="log-group-item item-background">
                        <StackLayout>
                            <Label text="{{item.name}}" textWrap="true" textAlignment="left"
                                   fontSize="12" color="black"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ListView.itemTemplate>
        </ListView>
            <MDFloatingActionButton rippleColor="grey" src="~/app/images/add-plus-button.png" horizontalAlignment="right" class="materialAddBtn">
            </MDFloatingActionButton>
        </GridLayout>


    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>

        </GridLayout>
    </MDTabContentItem>
</MDBottomNavigation>

