<ActionBar title="Hola Usuario!" class="actionBar">
    <ActionItem text="Salir" (tap)="onDelete()"
                ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>
<MDBottomNavigation selectedIndex="1" class="bottomNavigation">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <MDTabStrip>
        <MDTabStripItem>
            <Label text="Inicio"></Label>
            <span class="material-icons">face</span>
            <Image src="font://&#xf015;" class="fas"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special">
            <Label text="Listas"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special">
            <Label text="Perfil"></Label>
            <Image src="font://&#xf00e;" class="fas"></Image>
        </MDTabStripItem>
    </MDTabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <MDTabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <Label text="Search Page" class="h2 text-center"></Label>
        </GridLayout>
    </MDTabContentItem>
</MDBottomNavigation>

