<ActionBar class="actionBar">
    <StackLayout orientation="horizontal" horizontalAlignment="left" class="action-bar-custom">

            <GridLayout rows="auto" columns="*">
                <Label row="0" horizontalAlignment="left" text="Hola {{userFullName}}!" class="left actionBar" fontSize="25"></Label>
                <MDButton row="0" rippleColor=""   horizontalAlignment="right" text="&#xe9ba;" class="m-icon right logOutBtn" fontSize="20"></MDButton>
            </GridLayout>


            <!--
            <Image src="font://&#xe8e5;" class="m-icon" width="22"></Image>
            <Button text="&#xe8e5;" class="m-icon -primary" fontSize="22"></Button>
            <Label text="&#xe8e5;" class="m-icon m-t-15" fontSize="22"></Label>
            -->

    </StackLayout>
</ActionBar>
<MDBottomNavigation selectedIndex="0">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <MDTabStrip class="bottomNavigation">
        <MDTabStripItem>
            <Label text="Inicio"></Label>
            <Image src="font://&#xe88a;" class="m-icon"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special" (tap)="getListas()">
            <Label text="Listas"></Label>
            <Image src="font://&#xe896;" class="m-icon"></Image>
        </MDTabStripItem>
        <MDTabStripItem class="special">
            <Label text="Perfil"></Label>
            <Image src="font://&#xe853;" class="m-icon"></Image>
        </MDTabStripItem>
    </MDTabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <MDTabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
            <MDFloatingActionButton rippleColor="blue" src="res://ic_action_add" class="materialAddBtn"></MDFloatingActionButton>
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <!--<page-router-outlet></page-router-outlet>-->
        </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
        <GridLayout>
            <Label text="Perfil Page" class="h2 text-center"></Label>
        </GridLayout>
    </MDTabContentItem>
</MDBottomNavigation>

