<ScrollView (scroll)="onScroll($event)">

<StackLayout class="p-20">

 <image src="res://logo" height="700px" width="auto" stretch="aspectFill"></image>
 <form [formGroup]="loginForm" (tap)="login()">
  <Label text="Email" class="fontSize loginLabelMargins"></Label>
  <TextField formControlName="email" hint="Ingrese su email"></TextField>
  <Label text="Contraseña" class="fontSize loginLabelMargins"></Label>
  <TextField formControlName="password" hint="Ingrese su contraseña" type="password"></TextField>
  <MDActivityIndicator busy="true"></MDActivityIndicator>
   <Button text="Iniciar sesión" (tap)="login()" isEnabled="{{!loading}}" class="primaryColorBtn btnMargins"></Button>
 </form>
 <br>
  <Label text="¿Aún no estás registrado?" class="fontSize text-center registerLabelMargins"></Label>
  <Button text="Registrarse" (tap)="register()" isEnabled="{{!loading}}" class="primaryDarkColorBtn btnMargins"></Button>


</StackLayout>
</ScrollView>
